<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1 align="center">HTML ENITY</h1>

    <p>Thammarong&nbsp;&nbsp;Tansomros</p>
    <!-- เว้นวรรค -->
    <p>5&gt;2</p>
    <!-- เครื่องหมาย '>' -->
    <p>2&lt;5</p>
    <!-- เครื่องหมาย '<' -->
    <p>&empty;</p>
    <!-- เครื่องหมาย  -->
    <p>&yen;</p>
    <!-- ค่าเงิน เยน  -->
    <p>&pound;</p>
    <!-- ค่าเงินปอนด์ -->

</body>

</html>