<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        li {
            display: inline;
        }
        
        li a {
            padding-right: 20px;
        }
        
        .box {
            display: inline-block;
            box-sizing: border-box;
            width: 30%;
            /* ตัวกำหนดเปปร์เซ็น ให้พอดีกับ ไลน์  */
            padding: 10px;
            background-color: #f4f4f4;
        }
    </style>
</head>

<body>
    <ul>
        <li>
            <a href=""></a>Home</li>
        <li>
            <a href=""></a>About</li>
        <li>
            <a href=""></a>Page</li>
        <li>
            <a href=""></a>Contact Us
        </li>
    </ul>

    <hr>

    <div class="box">
        <h1>Titel1</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eos enim officia ab nulla consequatur aut culpa porro. Voluptatem quasi sunt vel saepe tempora natus molestias rem illum atque consequatur ducimus maxime eveniet odio dolores iste
            cumque quia, eius, assumenda perferendis ipsam dolorem temporibus. Minima id accusantium nobis beatae quibusdam.</p>


    </div>

    <div class="box">
        <h1>Titel2</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eos enim officia ab nulla consequatur aut culpa porro. Voluptatem quasi sunt vel saepe tempora natus molestias rem illum atque consequatur ducimus maxime eveniet odio dolores iste
            cumque quia, eius, assumenda perferendis ipsam dolorem temporibus. Minima id accusantium nobis beatae quibusdam.</p>
    </div>

    <div class="box">
        <h1>Titel3</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione eos enim officia ab nulla consequatur aut culpa porro. Voluptatem quasi sunt vel saepe tempora natus molestias rem illum atque consequatur ducimus maxime eveniet odio dolores iste
            cumque quia, eius, assumenda perferendis ipsam dolorem temporibus. Minima id accusantium nobis beatae quibusdam.</p>
    </div>
</body>

</html>