<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .max_min {
            background-color: lightgreen;
            max-width: 1000px;
            min-width: 600px;
            height: 200px;
        }
        
        .width_auto {
            background-color: orange;
            height: 500px;
            width: auto;
        }
    </style>
</head>

<body>
    <div class="max_min">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quos repudiandae numquam neque dolorem vero laudantium facere autem odit voluptatum optio.</div>
    <hr>
    <div class="width_auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quod quis error, rerum provident quasi vel assumenda laboriosam veniam neque debitis blanditiis, quae similique placeat magni eius officia eum omnis.</div>
</body>

</html>