<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span {
            border: 1px solid black;
        }
        /* span จะเรียงเป็นเเนวนอน  */
        
        div {
            border: 1px solid red;
        }
        /* div จะเรียงเป็นเเนวตั้ง */
    </style>
</head>

<body>
    <h1>Block vs Inline</h1>

    <span>Thammarong</span>
    <span>Thammarong</span>
    <span>Thammarong</span>
    <hr>
    <!-- hr คือการขีดเส้นกั้น -->
    <div>Thammarong</div>
    <div>Thammarong</div>
    <div>Thammarong</div>

</body>

</html>